/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes scalex-show {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes arrow-movement {
    from {
        inset-inline-start: -19px;
    }   
    to {
        inset-inline-start: -15px;
    }
}

@keyframes scale-max {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

@keyframes visibility-change {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.like-icon .core {
    fill: transparent;
    transition: fill 0.3s 0.03s linear;
}
  
.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}
  
.like-icon:hover .core {
    fill: var(--accent-color);
    transition: fill 0.3s linear;
}
  
.like-icon:hover .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s 0.05s linear;
}
  
.like-icon:active .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.05s linear;
}
  
.like-icon.is-liked .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
}
  
.like-icon.is-liked .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.05s linear;
}
  
.like-icon.is-liked .contour {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.06s linear;
}
  
.like-icon.is-liked {
    animation: scale-max 0.3s ease-in 0.1s alternate;
}
 
.like-icon.is-liked .sparks {
    animation: visibility-change 0.3s 0.3s 2 alternate ease-in;
}
  
.like-icon .contour {
    fill: currentColor;
    transition: fill 0.1s linear;
}